* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

a {
  color: #007bff !important;
  text-decoration: none;
  padding: 20px;
  margin-top: 20px;
}

a:hover {
  color: rgb(17, 199, 87) !important;
}

a.active {
  color: #0dba3e !important;
}