.about-us-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
 
  h1 {
    color: #007bff !important;
  }